<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <!-- ■■■■ REACTパート ■■■■■ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>

  <!--  REACT実行ファイル -->
  <script type="text/babel" src="/js/MyAccount.js"></script>

  <!--  スタイルシート -->
  <link href="/css/MyAccount.css" rel="stylesheet"></link>
</head>
<body>
<h1>MYアカウント</h1>
<div id="content" ></div>
</body>
</html>